<div class='npc'>
  <h1><%= @npc.name %></h1>

  <p>Gender: <%= @npc.gender %></p>
  <p>Ancestry: <%= @npc.ancestry %></p>
  <p>Sub-Ancestry:<%= @npc.sub_ancestry %></p>
  <p>Background: <%= @npc.background_name %></p>
  <p>Class: <%= @npc.character_class %></p>
  <p>Level: <%= @npc.level %></p>
  <p>Alignment: <%= @npc.alignment %></p>
  <p>Speed: <%= @npc.speed %></p>
  <p>Initiative: <%= @npc.initiative %></p>
  <p>Armor Class: <%= @npc.armor_class %></p>
  <p>Size: <%= @npc.size %></p>
  <p>Vision: <%= @npc.vision %></p>
  <p>Hit Dice: <%= @npc.hit_dice %></p>
  <p>Languages: <%= @npc.languages %></p>

  <h3>Personality:</h3>
    <p>Personality: <%= @npc.personality_personality %></p>
    <p>Ideal: <%= @npc.personality_ideal %></p>
    <p>Bond: <%= @npc.personality_bond %></p>
    <p>Flaw: <%= @npc.personality_flaw %></p>

  <h3>Equipment:</h3>
    <p>Gold: <%= @npc.gold %></p>
    <p>Pack: <%= @pack[0].name %></p>
    <p>Weapons:</p>
      <% @weapons.each do |weapon|%>
        <li>Name: <%= weapon.name %></li>
        <li>Damage: <%= weapon.damage %></li>
        <li>Properties: <%= weapon.properties %></li>
        <li>Cost: <%= weapon.cost %></li>
        <li>Weight: <%= weapon.weight %></li>
        <li>Classification: <%= weapon.classification %></li>
        -----------
      <% end %>
    <p>Armor:</p>
      <% if @armor[0].nil? || @armor[0] == "" %>
        <p>No Armor</p>
      <% else %>
        <% @armor.each do |piece|%>
          <li>Name: <%= piece.name %></li>
          <li>Armor Class: <%= piece.armor_class %></li>
          <li>Cost: <%= piece.cost %></li>
          <li>Strength Needed: <%= piece.strength %></li>
          <li>Stealth Disadvantage: <%= piece.stealth %></li>
          <li>Weight: <%= piece.weight %></li>
          <li>Classification: <%= piece.classification %></li>
          -----------
        <% end %>
      <% end %>
    <p>Extras:</p>
      <% @npc.background_equipment[2..-3].split(', ').each do |piece| %>
        <li><%= piece %></li>
      <% end %>

      <% @pack.flatten[0].things.split(" - ").each do |thing| %>
        <li><%= thing %></li>
      <% end %>
      <li><%= @npc.equipment_extras %></li>

  <h3>Traits:</h3>
    <% @npc.traits[3..-3].split(', ').each do |trait| %>
      <p><%= trait %></p>
    <% end %>

  <h3>Proficiencies:</h3>
    <p>Skills:</p>
      <% @npc.skills_proficiencies.split(',').each do |prof| %>
          <li> <%= prof %></li>
      <% end %>
    <p>Equipment:</p>
      <li>Armor: <%= @npc.proficiencies_armor %></li>
      <li>Weapons: <%= @npc.proficiencies_weapons %></li>
      <li>Tools: <%= @npc.proficiencies_tools %>, <%= @npc.background_tool_proficiency_one %>, <%= @npc.background_tool_proficiency_two %></li>

  <h3>Stats:</h3>
    <p>Hit Points: <%= @npc.hit_points %></p>
    <p>Passive Perception: <%= @npc.passive_perception %></p>
    <p>Core Stats:</p>
      <p>Scores:</p>
        <li>Strength: <%= @npc.core_scores_str %></li>
        <li>Dexterity: <%= @npc.core_scores_dex %></li>
        <li>Constitution: <%= @npc.core_scores_con %></li>
        <li>Intelligence: <%= @npc.core_scores_int %></li>
        <li>Wisdom: <%= @npc.core_scores_wis %></li>
        <li>Charisma: <%= @npc.core_scores_cha %></li>
      <p>Modifiers:</p>
        <li>Strength: <%= @npc.core_modifiers_str_mod %></li>
        <li>Dexterity: <%= @npc.core_modifiers_dex_mod %></li>
        <li>Constitution: <%= @npc.core_modifiers_con_mod %></li>
        <li>Intelligence: <%= @npc.core_modifiers_int_mod %></li>
        <li>Wisdom: <%= @npc.core_modifiers_wis_mod %></li>
        <li>Charisma: <%= @npc.core_modifiers_cha_mod %></li>
    <p>Saving Throws:</p>
      <li>Strength: <%= @npc.saving_throws_str %></li>
      <li>Dexterity: <%= @npc.saving_throws_dex %></li>
      <li>Constitution: <%= @npc.saving_throws_con %></li>
      <li>Intelligence: <%= @npc.saving_throws_int %></li>
      <li>Wisdom: <%= @npc.saving_throws_wis %></li>
      <li>Charisma: <%= @npc.saving_throws_cha %></li>
    <p>Skills:</p>
      <li>Acrobatics: <%= @npc.skills_acrobatics %></li>
      <li>Animal Handling: <%= @npc.skills_animal_handling %></li>
      <li>Arcana: <%= @npc.skills_arcana %></li>
      <li>Athletics: <%= @npc.skills_athletics %></li>
      <li>Deception: <%= @npc.skills_deception %></li>
      <li>History: <%= @npc.skills_history %></li>
      <li>Insight: <%= @npc.skills_insight %></li>
      <li>Intimidation: <%= @npc.skills_intimidation %></li>
      <li>Investigation: <%= @npc.skills_investigation %></li>
      <li>Medicine: <%= @npc.skills_medicine %></li>
      <li>Nature: <%= @npc.skills_nature %></li>
      <li>Perception: <%= @npc.skills_perception %></li>
      <li>Performance: <%= @npc.skills_performance %></li>
      <li>Persuasion: <%= @npc.skills_persuasion %></li>
      <li>Religion: <%= @npc.skills_religion %></li>
      <li>Sleight of Hand: <%= @npc.skills_sleight_of_hand %></li>
      <li>Stealth: <%= @npc.skills_stealth %></li>
      <li>Survival: <%= @npc.skills_survival %></li>
</div>
