<h1>NPC Generator</h1>


<h2>Here is a brand new NPC just for you:</h2>

<p>Name: <%= @npc.name %></p>
<p>Gender: <%= @npc.gender %></p>
<p>Ancestry: <%= @npc.ancestry %></p>
<p>Background: <%= @npc.background %></p>
<p>Class: <%= @npc.class %></p>
