<h1>NPC Generator</h1>

<% if @npc.nil? %>
  <h2>Roll Up an NPC:</h2>
  <%= form_tag "/", method: :get do %>
    <%= label_tag :score_type %>:<br>
    <%= select(:post, :score_type, ['Standard Array', 'Roll For Scores', 'Min/Maxed Point Buy', 'Wildly Unbalanced']) %><br>
    <%= submit_tag "Generate an NPC", class: :button %>
  <% end %>
<% else %>
  <h2>Here is a brand new NPC just for you:</h2>
  <% if !current_user.nil? %>
    <%= form_tag "/npcs/save/#{@npc.id}", method: :post do %>
      <%= submit_tag "Save", class: :button %>
    <% end %>
    <%= render "shared/npc_show" %>
  <% else %>
    <p>Please Log in if you'd like to save an NPC</p>

    <%= render "shared/npc_show_visitor" %>
  <% end %>



  <h2>Roll Up another NPC:</h2>
  <%= form_tag "/", method: :get do %>
    <%= label_tag :score_type %>:<br>
    <%= select(:post, :score_type, ['Standard Array', 'Roll For Scores', 'Min/Maxed Point Buy', 'Wildly Unbalanced']) %><br>
    <%= submit_tag "Generate an NPC", class: :button %>
  <% end %>
<% end %>
