<h1>NPCme</h1>

<% if @npc.nil? %>
  <h2>Roll Up an NPC:</h2>
    <%= render "shared/roll_npc" %>

<% else %>
  <h2>Here is a brand new NPC just for you:</h2>
  <% if !current_user.nil? %>
    <%= form_tag "/npcs/save/#{@npc.id}", method: :post do %>
      <%= submit_tag "Save", class: :button, class: "button-text-area"  %>
    <% end %>
  <% else %>
    <%= button_to 'Login and Save', '/auth/google_oauth2', class: "button-text-area"  %>
  <% end %>
  <h2>View as PDF:</h2>
  <%= button_to 'PDF', npc_pdf_path(@npc), class: "button-text-area" %>
  <%= render "shared/npc_show" %>
  <h2>Roll Up another NPC:</h2>
    <%= render "shared/roll_npc" %>
<% end %>
