<h1>NPC Generator</h1>

<% if @npc.nil? %>
  <h2>Roll Up an NPC:</h2>
  <%= form_tag "/", method: :get do %>
    <%= label_tag :score_type %>:<br>
    <%= select(:post, :score_type, ['Standard Array', 'Roll For Scores', 'Min/Maxed Point Buy', 'Wildly Unbalanced']) %><br>
    <%= submit_tag "Generate an NPC", class: :button %>
  <% end %>
<% else %>
  <h2>Here is a brand new NPC just for you:</h2>

  <h3>Name: <%= @npc.name %></h3>
  <p>Gender: <%= @npc.gender %></p>
  <p>Ancestry: <%= @npc.ancestry %></p>
  <p>Sub-Ancestry:</p>
   <% if @npc.sub_ancestry.class == String %>
     <%= @npc.sub_ancestry %>
   <% else %>
     <%= @npc.sub_ancestry[:name] %>
   <% end %>
  <p>Background: <%= @npc.background.name %></p>
  <p>Class: <%= @npc.class %></p>
  <p>Alignment: <%= @npc.alignment %></p>
  <p>Speed: <%= @npc.speed %></p>
  <p>Initiative: <%= @npc.initiative %></p>
  <p>Armor Class: <%= @npc.armor_class %></p>
  <p>Size: <%= @npc.size %></p>
  <p>Vision: <%= @npc.vision %></p>
  <p>Hit Dice: <%= @npc.hit_dice %></p>
  <p>Languages: <%= @npc.languages %></p>

  <h3>Personality:</h3>
    <p>Personality: <%= @npc.background.personality[:personality] %></p>
    <p>Ideal: <%= @npc.background.personality[:ideal] %></p>
    <p>Bond: <%= @npc.background.personality[:bond] %></p>
    <p>Flaw: <%= @npc.background.personality[:flaw] %></p>

  <h3>Equipment:</h3>
    <p>Gold: <%= @npc.equipment.gold %></p>
    <p>Pack: <%= @npc.equipment.pack.name %></p>
    <p>Weapons:</p>
      <% @npc.equipment.weapons.each do |weapon|%>
        <li>Name: <%= weapon[:name] %></li>
        <li>Damage: <%= weapon[:damage] %></li>
        <li>Properties: <%= weapon[:properties] %></li>
        <li>Cost: <%= weapon[:cost] %></li>
        <li>Weight: <%= weapon[:weight] %></li>
        <li>Classification: <%= weapon[:classification] %></li>
        -----------
      <% end %>
    <p>Armor:</p>
      <% if @npc.equipment.armor[0] == "" %>
        <p>No Armor</p>
      <% else %>
        <% @npc.equipment.armor.each do |piece|%>
          <li>Name: <%= piece[:name] %></li>
          <li>Armor Class: <%= piece[:armor_class] %></li>
          <li>Cost: <%= piece[:cost] %></li>
          <li>Strength Needed: <%= piece[:strength] %></li>
          <li>Stealth Disadvantage: <%= piece[:stealth] %></li>
          <li>Weight: <%= piece[:weight] %></li>
          <li>Classification: <%= piece[:classification] %></li>
          -----------
        <% end %>
      <% end %>
    <p>Extras:</p>
      <% @npc.background.equipment.each do |piece| %>
        <li><%= piece %></li>
      <% end %>
      <% @npc.equipment.pack.things.split(" - ").each do |thing| %>
        <li><%= thing %></li>
      <% end %>
      <li><%= @npc.equipment.extras unless @npc.equipment.extras == ""%></li>

  <h3>Traits:</h3>
    <% @npc.traits.each do |trait| %>
      <p><%= trait %></p>
    <% end %>

  <h3>Proficiencies:</h3>
    <p>Skills:</p>
      <% @npc.stats.skills.proficiencies.each do |prof| %>
          <li> <%= prof %></li>
      <% end %>
    <p>Equipment:</p>
      <li>Armor: <%= @npc.proficiencies.armor %></li>
      <li>Weapons: <%= @npc.proficiencies.weapons %></li>
      <li>Tools: <%= @npc.proficiencies.tools %>, <%= @npc.background.tool_proficiency_one %>, <%= @npc.background.tool_proficiency_two %></li>

  <h3>Stats:</h3>
    <p>Hit Points: <%= @npc.stats.hit_points %></p>
    <p>Passive Perception: <%= @npc.stats.passive_perception %></p>
    <p>Core Stats:</p>
      <p>Scores:</p>
        <li>Strength: <%= @npc.stats.core_stats.stats[:scores][:str] %></li>
        <li>Dexterity: <%= @npc.stats.core_stats.stats[:scores][:dex] %></li>
        <li>Constitution: <%= @npc.stats.core_stats.stats[:scores][:con] %></li>
        <li>Intelligence: <%= @npc.stats.core_stats.stats[:scores][:int] %></li>
        <li>Wisdom: <%= @npc.stats.core_stats.stats[:scores][:wis] %></li>
        <li>Charisma: <%= @npc.stats.core_stats.stats[:scores][:cha] %></li>
      <p>Modifiers:</p>
        <li>Strength: <%= @npc.stats.core_stats.stats[:modifiers][:str_mod] %></li>
        <li>Dexterity: <%= @npc.stats.core_stats.stats[:modifiers][:dex_mod] %></li>
        <li>Constitution: <%= @npc.stats.core_stats.stats[:modifiers][:con_mod] %></li>
        <li>Intelligence: <%= @npc.stats.core_stats.stats[:modifiers][:int_mod] %></li>
        <li>Wisdom: <%= @npc.stats.core_stats.stats[:modifiers][:wis_mod] %></li>
        <li>Charisma: <%= @npc.stats.core_stats.stats[:modifiers][:cha_mod] %></li>
    <p>Saving Throws:</p>
      <li>Strength: <%= @npc.stats.saving_throws.throws[:str] %></li>
      <li>Dexterity: <%= @npc.stats.saving_throws.throws[:dex] %></li>
      <li>Constitution: <%= @npc.stats.saving_throws.throws[:con] %></li>
      <li>Intelligence: <%= @npc.stats.saving_throws.throws[:int] %></li>
      <li>Wisdom: <%= @npc.stats.saving_throws.throws[:wis] %></li>
      <li>Charisma: <%= @npc.stats.saving_throws.throws[:cha] %></li>
    <p>Skills:</p>
      <li>Acrobatics: <%= @npc.stats.skills.skills[:acrobatics] %></li>
      <li>Animal Handling: <%= @npc.stats.skills.skills[:animal_handling] %></li>
      <li>Arcana: <%= @npc.stats.skills.skills[:arcana] %></li>
      <li>Athletics: <%= @npc.stats.skills.skills[:athletics] %></li>
      <li>Deception: <%= @npc.stats.skills.skills[:deception] %></li>
      <li>History: <%= @npc.stats.skills.skills[:history] %></li>
      <li>Insight: <%= @npc.stats.skills.skills[:insight] %></li>
      <li>Intimidation: <%= @npc.stats.skills.skills[:intimidation] %></li>
      <li>Investigation: <%= @npc.stats.skills.skills[:investigation] %></li>
      <li>Medicine: <%= @npc.stats.skills.skills[:medicine] %></li>
      <li>Nature: <%= @npc.stats.skills.skills[:nature] %></li>
      <li>Perception: <%= @npc.stats.skills.skills[:perception] %></li>
      <li>Performance: <%= @npc.stats.skills.skills[:performance] %></li>
      <li>Persuasion: <%= @npc.stats.skills.skills[:persuasion] %></li>
      <li>Religion: <%= @npc.stats.skills.skills[:religion] %></li>
      <li>Sleight of Hand: <%= @npc.stats.skills.skills[:sleight_of_hand] %></li>
      <li>Stealth: <%= @npc.stats.skills.skills[:stealth] %></li>
      <li>Survival: <%= @npc.stats.skills.skills[:survival] %></li>


  <h2>Roll Up another NPC:</h2>
  <%= form_tag "/", method: :get do %>
    <%= label_tag :score_type %>:<br>
    <%= select(:post, :score_type, ['Standard Array', 'Roll For Scores', 'Min/Maxed Point Buy', 'Wildly Unbalanced']) %><br>
    <%= submit_tag "Generate an NPC", class: :button %>
  <% end %>
<% end %>
