
<div class="npc_pdf-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="4">
          <table>
            <tr>
              <td>
                Npc #: <b><%= @npc.id %></b>
                <br>
                Created: <b><%= @npc.created_at.strftime('%d/%m/%Y') %></b>
                <br>
              </td>
            </tr>
          </table>
        </td>
      </tr>
</div>

<div class='npc'>
  <h1><%= @npc.name %></h1>

  <p>Gender: <%= @npc.gender %></p>
  <p>Ancestry: <%= @npc.ancestry %></p>
  <p>Sub-Ancestry: <%= @npc.sub_ancestry %></p>
  <p>Background: <%= @npc.background_name %></p>
  <p>Class: <%= @npc.character_class %></p>
  <p>Level: <%= @npc.level %></p>
  <p>Hit Points: <%= @npc.hit_points %></p>
  <p>Alignment: <%= @npc.alignment %></p>
  <p>Speed: <%= @npc.speed %></p>
  <p>Initiative: <%= @npc.initiative %></p>
  <p>Armor Class: <%= @npc.armor_class %></p>
  <p>Size: <%= @npc.size %></p>
  <p>Vision: <%= @npc.vision %></p>
  <p>Hit Dice: <%= @npc.hit_dice %></p>
  <p>Languages: <%= @npc.languages %></p>

  <h3>Personality:</h3>
    <p>Personality: <%= @npc.personality_personality %></p>
    <p>Ideal: <%= @npc.personality_ideal %></p>
    <p>Bond: <%= @npc.personality_bond %></p>
    <p>Flaw: <%= @npc.personality_flaw %></p>

  <h3>Equipment:</h3>
    <p>Gold: <%= @npc.gold %></p>
    <p>Pack: <%= @npc.packs[0].name %></p>
    <p>Weapons:</p>
      <% @npc.weapons.each do |weapon|%>
        <li>Name: <%= weapon.name %></li>
        <% if weapon.damage == 'No Damage'%>
          <li>Damage: <%= weapon.damage %> </li>
        <% elsif weapon.classification.include?("Ranged") || weapon.properties.include?("Finesse") && @npc.str_attack <= @npc.dex_attack %>
          <li>Damage: <%= weapon.damage %> + <%= @npc.dex_attack %></li>
        <% else %>
          <li>Damage: <%= weapon.damage %> + <%= @npc.str_attack %></li>
        <% end %>
        <li>Properties: <%= weapon.properties %></li>
        <li>Cost: <%= weapon.cost %></li>
        <li>Weight: <%= weapon.weight %></li>
        <li>Classification: <%= weapon.classification %></li>
        -----------
      <% end %>
    <p>Armor:</p>
      <% if @npc.armors[0].nil? || @npc.armors[0] == "" %>
        <p>No Armor</p>
      <% else %>
        <% @npc.armors.each do |piece|%>
          <li>Name: <%= piece.name %></li>
          <li>Armor Class: <%= piece.armor_class %></li>
          <li>Cost: <%= piece.cost %></li>
          <li>Strength Needed: <%= piece.strength %></li>
          <li>Stealth Disadvantage: <%= piece.stealth %></li>
          <li>Weight: <%= piece.weight %></li>
          <li>Classification: <%= piece.classification %></li>
          -----------
        <% end %>
      <% end %>
    <p>Extras:</p>
      <% @npc.background_equipment[2..-3].split(', ').each do |piece| %>
        <li><%= piece %></li>
      <% end %>

      <% @npc.packs[0].things.split(" - ").each do |thing| %>
        <li><%= thing %></li>
      <% end %>
      <li><%= @npc.equipment_extras %></li>

  <h3>Traits:</h3>
    <% @npc.traits[3..-3].split(', ').each do |trait| %>
      <p><%= trait %></p>
    <% end %>

  <h3>Proficiencies:</h3>
    <p>Skills:</p>
      <% @npc.skills_proficiencies.split(',').each do |prof| %>
          <li> <%= prof %></li>
      <% end %>
    <p>Equipment:</p>
      <li>Armor: <%= @npc.proficiencies_armor %></li>
      <li>Weapons: <%= @npc.proficiencies_weapons %></li>
      <li>Tools: <%= @npc.proficiencies_tools %>, <%= @npc.background_tool_proficiency_one %>, <%= @npc.background_tool_proficiency_two %></li>

  <h3>Stats:</h3>

    <p>Passive Perception: <%= @npc.passive_perception %></p>
    <p>Core Stats:</p>
      <p>Scores:</p>
        <li>Strength: <%= @npc.core_scores_str %></li>
        <li>Dexterity: <%= @npc.core_scores_dex %></li>
        <li>Constitution: <%= @npc.core_scores_con %></li>
        <li>Intelligence: <%= @npc.core_scores_int %></li>
        <li>Wisdom: <%= @npc.core_scores_wis %></li>
        <li>Charisma: <%= @npc.core_scores_cha %></li>
      <p>Modifiers:</p>
        <li>Strength: <%= @npc.core_modifiers_str_mod %></li>
        <li>Dexterity: <%= @npc.core_modifiers_dex_mod %></li>
        <li>Constitution: <%= @npc.core_modifiers_con_mod %></li>
        <li>Intelligence: <%= @npc.core_modifiers_int_mod %></li>
        <li>Wisdom: <%= @npc.core_modifiers_wis_mod %></li>
        <li>Charisma: <%= @npc.core_modifiers_cha_mod %></li>
    <p>Saving Throws:</p>
      <li>Strength: <%= @npc.saving_throws_str %></li>
      <li>Dexterity: <%= @npc.saving_throws_dex %></li>
      <li>Constitution: <%= @npc.saving_throws_con %></li>
      <li>Intelligence: <%= @npc.saving_throws_int %></li>
      <li>Wisdom: <%= @npc.saving_throws_wis %></li>
      <li>Charisma: <%= @npc.saving_throws_cha %></li>
    <p>Skills:</p>
      <li>Acrobatics: <%= @npc.skills_acrobatics %></li>
      <li>Animal Handling: <%= @npc.skills_animal_handling %></li>
      <li>Arcana: <%= @npc.skills_arcana %></li>
      <li>Athletics: <%= @npc.skills_athletics %></li>
      <li>Deception: <%= @npc.skills_deception %></li>
      <li>History: <%= @npc.skills_history %></li>
      <li>Insight: <%= @npc.skills_insight %></li>
      <li>Intimidation: <%= @npc.skills_intimidation %></li>
      <li>Investigation: <%= @npc.skills_investigation %></li>
      <li>Medicine: <%= @npc.skills_medicine %></li>
      <li>Nature: <%= @npc.skills_nature %></li>
      <li>Perception: <%= @npc.skills_perception %></li>
      <li>Performance: <%= @npc.skills_performance %></li>
      <li>Persuasion: <%= @npc.skills_persuasion %></li>
      <li>Religion: <%= @npc.skills_religion %></li>
      <li>Sleight of Hand: <%= @npc.skills_sleight_of_hand %></li>
      <li>Stealth: <%= @npc.skills_stealth %></li>
      <li>Survival: <%= @npc.skills_survival %></li>

      <h3>Spells:</h3>
        <p>Spell_slots: <%= @npc.spell_slots %></p>
        <p>Current Spells:</p>
          <% if @npc.spells.class == String %>
            <%= @npc.spells %>
          <% else %>
            <% @npc.spells.each do |spell| %>
              <li>Name: <%= spell[:name] %></li>
              <li>Description: <%= spell[:description] %></li>
              <li>Range: <%= spell[:range] %></li>
              <li>Components: <%= spell[:components] %></li>
              <li>Duration: <%= spell[:duration] %></li>
              <li>Casting Time: <%= spell[:casting_time] %></li>
              <li>Level: <%= spell[:level] %></li>
              <li>School: <%= spell[:school] %></li>
              <li>Classes: <%= spell[:classes] %></li>
              <li>Attack Type: <%= spell[:attack_type] %></li>
              <li>Concentration: <%= spell[:concentration] %></li>
              <li>Damage Type: <%= spell[:damage_type] %></li>
              <li>Damage at Character Level: <%= spell[:damage_at_character_level] %></li>
              <li>Damage At Slot Level: <%= spell[:damage_at_slot_level] %></li>
              <li>Higher_level: <%= spell[:higher_level] %></li>
              <li>Material: <%= spell[:material] %></li>
              <li>Ritual: <%= spell[:ritual] %></li>
              <li>Subclasses: <%= spell[:subclasses] %></li>
              -----------
            <% end %>
          <% end %>
</div>
