<!DOCTYPE html>
<html>
  <head>
    <title>NPC Generator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% NpcModel.where(is_saved: 0).ids.map do |id| %>
      <% NpcModelArmor.where(npc_model_id: id).destroy_all %>
      <% NpcModelPack.where(npc_model_id: id).destroy_all %>
      <% NpcModelWeapon.where(npc_model_id: id).destroy_all %>
    <% end %>
    <% NpcModel.where(is_saved: 0).destroy_all %>

  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Register', registration_path unless current_user %>
      <%= link_to 'Log In', login_path unless current_user %>
      <% if current_user %>
        <%= link_to 'NPC Dashboard', user_dashboard_path %>
        <%= link_to 'Log Out', logout_path %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <div>
        <p>
          Thank you to <a href="https://open5e.com/">Open5e</a> and <a href="https://www.dnd5eapi.co/">D&D 5e API</a> for providing the D&D data that is used in this application.
        </p>
        <p>
          Further citation information regarding the data used in this project can be found <a href="https://open5e.com/legal">here for Open5e</a> and <a href="https://www.dnd5eapi.co/docs/">here for D&D 5e API</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
