<!DOCTYPE html>
<html>
  <head>
    <title>NPCme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= render 'shared/login_with_google_button' unless current_user %>
      <% if current_user %>
        <%= link_to 'User Dashboard', user_dashboard_path unless current_user.admin? %>
        <%= link_to 'Admin Dashboard', admin_dashboard_path unless current_user.default? %>
        <%= link_to 'Users Dashboard', admin_users_path unless current_user.default? %>
        <%= link_to 'NPCs Dashboard', admin_npcs_path unless current_user.default? %>
        <%= link_to 'Log Out', logout_path %>
      <% end %>
      <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="C2KF65M3S2VLJ" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <div>
        <%= link_to 'About', about_path %>
        <%= link_to 'Contact Us', contact_index_path %>
      </div>
      <div>
        <p>
          Thank you to <a href="https://open5e.com/">Open5e</a> and <a href="https://www.dnd5eapi.co/">D&D 5e API</a> for providing the D&D data that is used in this application.
        </p>
        <p>
          Further citation information regarding the data used in this project can be found <a href="https://open5e.com/legal">here for Open5e</a> and <a href="https://www.dnd5eapi.co/docs/">here for D&D 5e API</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
